<app-header></app-header>
<div class="mainofhome">
  <mat-grid-list cols="5" rowHeight="250">
    <mat-grid-tile>
      <mat-card class="cardhome">
        <mat-card-header>
          <mat-card-title>Company</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button color="accent" routerLink="/companylist">Info</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="cardhome">
        <mat-card-header>
          <mat-card-title>Employees</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button color="accent" routerLink="/employeelist">Info</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="cardhome">
        <mat-card-header>
          <mat-card-title>Training</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button mat-raised-button color="accent">Info</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile><mat-card class="cardhome">
      <mat-card-header>
        <mat-card-title>Training Record</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="accent">Info</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card class="cardhome">
      <mat-card-header>
        <mat-card-title>Export Data</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="accent">Info</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile>
  </mat-grid-list>
</div>

