<mat-toolbar color="primary">
  <mat-icon>home</mat-icon>
    <li class="icontoolbar">
      <button mat-flat-button color="primary" routerLink="/home">
        <h4>Training System</h4></button>
    </li>
    <li class="icontoolbar">
      <button mat-flat-button color="primary" routerLink="/companylist">Company</button>
    </li>
    <li class="icontoolbar">
      <button mat-flat-button color="primary" routerLink="/employeelist">Employee</button>
    </li>
    <li class="icontoolbar">
      <button mat-flat-button color="primary" routerLink="/home">Training</button>
    </li>
    <li class="icontoolbar">
      <button mat-flat-button color="primary" routerLink="/home">Training Record</button>
    </li>
    <li class="icontoolbar">
      <button mat-flat-button color="primary" routerLink="/home">Export Data</button>
    </li>
    <li class="icontoolbar">
      <button mat-flat-button color="primary" routerLink="/home">Basic Data</button>
    </li>
  <span class="header-spacer"></span>
  <button mat-flat-button color="primary" routerLink="/login">Logout</button>
</mat-toolbar>
