<!-- <app-header></app-header>
<mat-toolbar>
  <span>Employee List</span>
  <span class="header-spacer"></span>
  <button mat-flat-button color="primary" routerLink="/employeecreate">Add Employee</button>
</mat-toolbar> -->

<!-- <mat-card>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="enteredTitle">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea>
  </mat-form-field>
  <button mat-raised-button
  color="primary"
  (click)="onAddPost()">Save Post</button>
</mat-card> -->
<!-- <app-header></app-header>
<mat-toolbar>
  <span>Employee List</span>
  <span class="header-spacer"></span>
  <button mat-flat-button color="primary" routerLink="/companycreate">Add Employee</button>
</mat-toolbar> -->

<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row>
      <button mat-button color='primary'>EDIT</button>
      <button mat-button color='warn'>DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-2" *ngIf="posts.length <= 0">No record that show</p>
